/*Comics Reader fix*/
#comicsPlayer .swiper-slide-img { max-height: 100%; max-width: 100%;}
#comicsPlayer .slider-zoom-container {
text-align: center;
height: 100%; display: flex; align-items: center; Background: Black; justify-content: center;}
.actionButtonIcon { color: white; }

/*Genre unterm titel wie 10.7.7 */
.detailSection { display: flex; flex-direction: column; }
.itemDetailsGroup { order: 1; }
.trackSelections { order: 2; }
.detailSectionContent { order: 3; }
.trackSelections { margin-top: 0.37em ;}
.layout-desktop .detailRibbon { height: 4.2em; margin-top: -7.2em; }
.backgroundContainer.withBackdrop {
    background-color: rgba(0, 0, 0, 0.76); background-size: contain; }

/* Shrink and square (or round) cast thumnails */
#castContent .card.overflowPortraitCard.personCard.card-hoverable.card-withuserdata {width: 3.5cm !important; font-size: 100% !important;}
#castContent .card.overflowPortraitCard.personCard.card-withuserdata {width: 3.5cm !important; font-size: 80% !important;}

/* Floating progress bar */
.innerCardFooter {
    bottom: 3% !important;
    width: 95% !important;
    margin: auto !important;
    border-radius: 100px !important;
}
.itemProgressBar {
    height: 5px !important;
}

/*Make watched icon Green*/
.playedIndicator {background:  #5dd000; box-shadow: none;}
.countIndicator {box-shadow: none;}
    
/*Make the red checkmarks Green*/
.playstatebutton-icon-played {color:  #5dd000;}
    
/* Filme display bearbeitet grund dinge*/
.nameContainer {font-size: 120%; }
.overview {display: block}
#similarCollapsible { Display: none;}
.fab, .raised { background: transparent; }
.itemDetailsGroup .itemMiscInfo {font-size: 105%; }
.itemTags { Display: none; }
.starRatingContainer { Display: none; }

/*Rounded corners and square hover buttons*/
.cardContent-button,  .cardContent-shadow,  .itemDetailImage, .cardOverlayButton-hover, .cardOverlayContainer, .cardImageContainer, .cardPadder, .listItemImage, .listItemImageButton, .listItemButton,
.headerButton, .paper-icon-button-light, .innerCardFooter, .blurhash-canvas, .actionSheetMenuItem:hover, .dialog {border-radius: 12px !important;}

/* Top menu transparency */
.skinHeader { background: linear-gradient(rgb(34,34,34), transparent) !important;}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.semiTransparent {
background: linear-gradient( to bottom, transparent ) !important; box-shadow: none !important; transform: none !important; }
  
/* Adjust Topbar Text*/
.headerTabs.sectionTabs {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 110%;
  text-size-adjust: 110%;
  font-size: 115%;
}
    
/*Image gradient in title page: removes the bg of detail ribbon and replaces it with image gradient*/
.detailRibbon {background: transparent;}
.itemBackdrop {-webkit-mask: linear-gradient(to bottom, black 68%,transparent); mask: linear-gradient(to bottom, black 68%,transparent); }

#loginPage {
  background: url('');
  background-size: cover;
}

/* Narrow the login form */
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/* Hide "please login" text, margin is to prevent login form moving too far up */
#loginPage h1 {
  display: none;
}
#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 50px;
}

/* Hide "manual" and "forgot" buttons */
#loginPage .raised.cancel.block.btnManual.emby-button {
  display: none;
}
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
  display: none;
}

/*Minimalistic play buttons*/
.cardOverlayFab-primary {background-color: #00000000;}
.cardOverlayButtonIcon {background-color: #00000000 !important;}
.cardOverlayContainer {background-color: rgba(0, 0, 0, 0.7);}

/*Sprachauswahl Länge verkürzten*/
.trackSelections {max-width: 25em;}
    
    /*Change the blur, contrast, saturation, and brightness of the backdrop image*/
    .backdropImage {filter: blur(0px) saturate(100%) contrast(100%) brightness(100%);}
    
    /*Change the color/transparency of the backdrop container*/
    .backgroundContainer.withBackdrop {background-color: rgba(0,0,0,.45); }

    
    /*Change the color/transparency of the side menu drawer bar*/
    .mainDrawer,
    .drawer-open {
              background-color: rgba(0,0,0,.8);
    }
    
    /*Change the color/transparency of context menu containers*/
    .backgroundContainer,
    .dialog,
    .nowPlayingPlaylist,
    .nowPlayingContextMenu
    html {
              background-color: rgba(0,0,0,.7);
    }
    
    /*Change the color/transparency, border thickness, and border color of buttons*/
    .raised {
         background: rgba(0,0,0,.45);
         border: 0.07em solid rgba(250,250,250,.4);
    }
    
    /*Change the color/transparency, border thickness, and border color of non-clickable boxes*/
    .paperList {
         background-color: rgba(0,0,0,.45);
         border: 0.07em solid rgba(250,250,250,.4);
    }
    
    /*Change the color/transparency, border thickness, and border color of text and mouse input areas*/
    .fab,
    .emby-input,
    .emby-textarea,
    .emby-select-withcolor {
              background: rgba(0,0,0,.55);
              border: 0.1em solid rgba(250,250,250,.4);
    }
    
    /*Change the color/transparency of hover effects over buttons, select boxes, and the side menu drawer bar*/
    .emby-button:hover,
    .emby-button.block:hover,
    .navMenuOption:hover,
    .emby-select-withcolor:hover,
    .listItem:hover {        
              background: rgba(126,126,126,.6);
    }
    
    /*Change the color/transparency of hover effects over buttons that don't have boxes (i.e title links, genre links)*/
    /*The purpose of this block is to remove unnecessary hover effects (make them transparent)*/
    /*The .clearLink:hover tag applies to buttons that don't need an extra hover effect due its background being highlighted during a hover*/
    .button-link:hover,
    .sectionTitleTextButton:not(.padded-left):hover,
    .clearLink:hover {
              background: rgba(0,0,0,0);
    }
    
    
    
    /*Change the color/transparency of card boxes (i.e device list cards, poster cards, thumb cards, etc.)*/
    /*To change to a solid color with no radial gradient, replace everything in the brackets with the following: 
              background: rgba(0,0,0,0);*/
    /*To change to a radial gradient, replace everything in the brackets with the following: 
              radial-gradient(rgba(126,126,126,.5), transparent);}*/
    .cardFooter {background: linear-gradient(210deg, rgba(126,126,126,0.6), transparent);}
    
    /*Change the color/transparency of the hover effects on the top-bound header main buttons*/
    .emby-tab-button:hover {background-color: rgba(0, 164, 220, 0.2);}

/*Tweak series/movie/album title screen*/
.detailLogo {display: none;}
.detailPagePrimaryContainer {background: rgba(0,0,0,0) !important;}
@media all and (min-width: 100em){
    .itemBackdrop::after {background-color: rgba(0, 0, 0, 0) !important;}
    .itemBackdrop {height: 23vh !important; background-image: none !important;}
}
@media all and (min-width: 32em) and (max-width: 100em){
    .itemBackdrop::after {background-color: rgba(0, 0, 0, 0) !important;}
    .itemBackdrop {height: 10em !important; background-image: none !important;}
}
@media all and (max-width: 32em) {
    .itemBackdrop {width: 100vw !important; height: 100vh !important; position: fixed; filter: brightness(14%);}
    .detailPageWrapperContainer {margin-top: 5em;}
}
